.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  padding: 0px 50px;
  font-size: 15px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  max-height: fit-content;
  margin:2px 3px;
  list-style-type: none;
}

.res-card {
  width: 200px;
  padding: 1px 2px;
  /* height: 350px; */
  display: list-item;
  margin: 4px 4px;
  border: 1px;
  background-color: yellowgreen;
}

.res-card:hover {
  border: 1px solid grey;
  background-color: snow;
}
.search {
  padding: 20px;
}

.res-logo {
  width: 100%;
  height: 40%;
}

.footer-logo{
  display: flex;
  text-align: center;
  justify-content: center;
}
